// ----------- Global Styles ----------- //
* {
	box-sizing: border-box;
}

body {
	font-family: $main_font;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

h2 {
	font-family: $title_font;
	font-size: 3.75rem;
	text-align: center;
	padding: 6rem 0 0 0;
}

.container {
	display: flex;
	justify-content: center;
	width: 1440px;
	max-width: 90%;
	margin: 0 auto;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

