// ----------- Variables ----------- //

// Fonts
$title_font: Aileron, Helvetica, sans-serif;
$main_font: 'Roboto', sans-serif;

// Colors
$dark_blue: #2d4059;
$light_blue: #50719d;
$light_grey: #dde2e8;
$dark_grey: #3d3d3d;
$white: #ffffff;

// Mixed
$shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.35);
